.classpath
.project
.settings
conf/.svn
target
tmp
src/test/resources/bigDataFile.dat
src/test/resources/readResults.txt
src/test/resources/read2Results.txt
src/test/resources/write2Results.txt
src/test/resources/writeResults.txt